body{
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    background-color: white;
    width: 500px;
    box-shadow: 0  0  10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* max-width: 100vmax; */
    /* min-width: 300px; */
}

.quiz-header{
    margin-left: 2rem;
    padding: 2rem;
}

h2{
    /* text-align: center; */
    padding: 0;

}

.result{
    text-align: center;
    padding: 1rem;
}

ul{
    list-style-type: none;
}
ul li{
    
    padding: .5rem 0;
}

ul label{
    cursor: pointer;
}
button{
    text-align: center;
    border: none;
    background-color:#0cce6b ;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: .8rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */

}

button:hover{
    background-color: #0a8b49;
    color: white;
}

@media(max-width:500px){
    .quiz-container{
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;


    }
  .quiz-header{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

}